@use './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	// font-family: 'Open Sans', sans-serif;
	// font-family: 'Akaya Kanadaka', cursive;
	background-color: colors.$ecru;
}

//burger button

.burger-button {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid colors.$ecru;
		border-radius: 8px;
	}

	&:hover {
		.burger-button__bars::after,
		.burger-button__bars::before {
			width: 100%;
		}
	}

	&__container {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		background-color: colors.$ecru;
		transition: width 0.3s;
		height: 3px;
		content: '';
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}

		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

//navigation

.navigation {
	width: 100%;
	height: 100px;
	background-color: colors.$light-green;
	display: flex;
	flex-direction: row;
	color: colors.$brown;

	&__logo {
		border: 2px solid colors.$brown;
		background-color: colors.$creame;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 20px;
		left: 20px;
		padding: 1em;
		z-index: 101;
	}

	&__items {
		position: fixed;
		top: 0;
		height: 100vh;
		width: 100%;
		background-color: colors.$light-green;
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transform: translateY(100%);
		transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

		&--active {
			transform: translateY(0);
		}
	}

	&__item {
		position: relative;
		color: colors.$brown;
		margin: 0.5em 0;
		padding: 0.5em 1.5em;
		font-size: 2em;
		text-decoration: none;

		&:hover {
			font-size: 2.5em;
			text-shadow: 2px 2px colors.$green;
			font-weight: 600;
			transition: 1s;
		}
	}
}

.hidden {
	display: none;
}

//main container

.main-container {
	width: 100%;
	height: 100vh;
}

#map {
	height: 60vh;
	z-index: 50;
}

//search window

.overlay {
	position: fixed;
	display: none;
	top: 0;
	width: 100vh;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4px);
	z-index: 1000;
	transition: all 0.5s;
}

.search {
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50vh;
	width: 40vh;
	background-color: colors.$creame;
	border-radius: 9px;
	padding: 5rem 6rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
	transition: all 0.5s;
	z-index: 2000;

	&__text {
		text-align: center;
	}

	&__row {
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	&__input {
		height: 4rem;
		width: 20rem;
		text-align: center;
		border: 2px solid colors.$light-green;
		border-radius: 10px;
	}

	&__buttons {
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&--submit,
		&--add {
			height: 4rem;
			width: 20rem;
			padding: 1rem;
			text-align: center;
			border: 2px solid colors.$green;
			border-radius: 10px;
			background-color: colors.$light-green;
		}
	}
}

//footer

.footer {
	width: 100%;
	height: 100px;
	background-color: colors.$light-green;
}
