@use './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	// font-family: 'Open Sans', sans-serif;
	// font-family: 'Akaya Kanadaka', cursive;
	background-color: colors.$ecru;
}

//burger button

.burger-button {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid colors.$ecru;
		border-radius: 8px;
	}

	&:hover {
		.burger-button__bars::after,
		.burger-button__bars::before {
			width: 100%;
		}
	}

	&__container {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		background-color: colors.$ecru;
		transition: width 0.3s;
		height: 3px;
		content: '';
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}

		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

//navigation

.navigation {
	width: 100%;
	height: 15vh;
	background-color: colors.$light-green;
	display: flex;
	flex-direction: row;
	color: colors.$brown;

	&__logo {
		border: 2px solid colors.$brown;
		background-color: colors.$creame;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 20px;
		left: 20px;
		padding: 1em;
		z-index: 101;
	}

	&__items {
		position: fixed;
		top: 0;
		height: 100vh;
		width: 100%;
		background-color: colors.$light-green;
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transform: translateY(100%);
		transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

		&--active {
			transform: translateY(0);
		}
	}

	&__item {
		position: relative;
		color: colors.$brown;
		margin: 0.5em 0;
		padding: 0.5em 1.5em;
		font-size: 2em;
		text-decoration: none;

		&:hover {
			font-size: 2.5em;
			text-shadow: 2px 2px colors.$green;
			font-weight: 600;
			transition: 1s;
		}
	}
}

.hidden {
	display: none;
}

//main container

.main-container {
	width: 100%;
	height: 60vh;
}

#map {
	height: 60vh;
	z-index: 50;
}

//search window

.overlay {
	position: fixed;
	display: none;
	top: 0;
	width: 100vh;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4px);
	z-index: 1900;
	transition: all 0.5s;
}

.search {
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 55vh;
	width: 25rem;
	background-color: colors.$creame;
	border-radius: 9px;
	padding: 5rem 6rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
	transition: all 0.5s;
	z-index: 2000;
	padding: 2rem;

	&__close {
		align-self: flex-end;
		padding: 0.5rem;
	}

	&__close:hover {
		cursor: pointer;
		transition: text-shadow 0.5s;
		text-shadow: 0rem 0rem 1.5rem colors.$green;
	}

	&__text {
		text-align: center;
	}

	&__row {
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	&__input {
		height: 4rem;
		width: 20rem;
		text-align: center;
		border: 2px solid colors.$light-green;
		border-radius: 10px;
	}

	&__buttons {
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&--submit,
		&--add {
			height: 4rem;
			width: 20rem;
			padding: 1rem;
			text-align: center;
			border: 2px solid colors.$green;
			border-radius: 10px;
			background-color: colors.$light-green;
		}

		&--submit:hover,
		&--add:hover {
			box-shadow: 0rem 0rem 1.5rem colors.$green;
			cursor: pointer;
			transition: text-shadow 0.5s;
		}
	}
}

.add-bird {
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 55vh;
	width: 25rem;
	background-color: colors.$creame;
	border-radius: 9px;
	padding: 5rem 6rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
	transition: all 0.5s;
	z-index: 2000;

	&__input {
		height: 4rem;
		width: 20rem;
		text-align: center;
		border: 2px solid colors.$light-green;
		border-radius: 10px;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		height: 80%;
		justify-content: space-around;
	}

	&__submit {
		height: 4rem;
		width: 20rem;
		padding: 1rem;
		text-align: center;
		border: 2px solid colors.$green;
		border-radius: 10px;
		background-color: colors.$light-green;
	}

	&__close {
		align-self: flex-end;
		padding: 0.5rem;
	}

	&__close:hover {
		cursor: pointer;
		transition: text-shadow 0.5s;
		text-shadow: 0rem 0rem 1.5rem colors.$green;
	}
}

//user info

.user-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 15vh;
	justify-content: space-between;
	padding: 1.5rem;
	margin-top: 10px;

	&__text {
		text-align: center;
		padding: 8px;
	}
}

.fa-hand-pointer {
	animation: updown 2s ease infinite;
}

//search results

.search-results {
	position: fixed;
	display: none;
	flex-direction: column;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80vh;
	width: 30rem;
	background-color: colors.$creame;
	border-radius: 9px;
	padding: 2rem;
	transition: all 0.5s;
	z-index: 2000;

	&__result {
		background-color: colors.$ecru;
		height: 120px;
		width: 200px;
		border-radius: 9px;
		padding: 1rem;
		box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
		margin: 1rem 0 1rem 0;

		&--divicon {
			display: flex;
			justify-content: flex-end;
		}
	}

	.icon-search {
		right: 10px;
		padding: 0.5rem;
		width: 20px;
	}

	.icon-search:hover {
		text-shadow: 0rem 0rem 1.5rem colors.$green;
		cursor: pointer;
		transition: text-shadow 0.5s;
	}

	&__close {
		align-self: flex-end;
		padding: 0.5rem;
	}

	&__close:hover {
		cursor: pointer;
		transition: text-shadow 0.5s;
		text-shadow: 0rem 0rem 1.5rem colors.$green;
	}

	&__container {
		height: 100%;
		margin-top: 20px;
		display: flex;
		// flex-wrap: wrap;
		flex-direction: column;
		width: 80vw;
		justify-content: flex-start;
		align-items: center;
		list-style: none;
		overflow: hidden;
		overflow-y: scroll;
	}

	&__heading {
		display: flex;
		align-items: center;
	}

	&__name {
		font-size: 1.5rem;
		display: inline;
		margin-left: 7px;
		padding: 0.5rem;
	}

	&__more {
		display: flex;
		justify-content: flex-end;

		&--text {
			width: 50%;
			text-align: end;
			font-size: 1rem;
		}

		&--text:hover {
			color: #418900;
			text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
			cursor: pointer;
			font-size: 1.1rem;
			transition: all 0.5s;
		}
	}
}

.search-results img {
	width: 80px;
	box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
	border-radius: 9px;
}

//error window

.error-window,
.success-window,
.remove-window {
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 30vh;
	width: 30rem;
	background-color: colors.$creame;
	border-radius: 9px;
	padding: 2rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
	transition: all 0.5s;
	z-index: 2000;

	&__button {
		height: 4rem;
		width: 20rem;
		padding: 1rem;
		text-align: center;
		border: 2px solid colors.$green;
		border-radius: 10px;
		background-color: colors.$light-green;
	}

	&__button:hover {
		box-shadow: 0rem 0rem 1.5rem colors.$green;
		cursor: pointer;
		transition: text-shadow 0.5s;
	}

	&__text {
		text-align: center;
		padding: 2rem;
		// margin-bottom: 5px;
	}

	&__icon {
		display: flex;
		justify-content: flex-end;
		right: 10px;
		padding: 0.5rem;
	}
}

.remove-window {
	&__buttons {
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin-top: 10px;
	}
	&__button {
		height: 4rem;
		width: 10rem;
		padding: 0.75rem;
		font-size: 1.3rem;
	}

	&__text {
		text-align: center;
		padding: 1rem;
		font-size: 1.5rem;
	}
	&__icon {
		display: flex;
		justify-content: flex-end;
		right: 10px;
		padding: 0.5rem;
		margin-bottom: 5px;
	}
}

//list
.birds-list {
	position: fixed;
	display: none;
	flex-direction: column;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100vw;
	background-color: colors.$creame;
	padding: 2rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
	transition: all 0.5s;
	z-index: 1800;

	&__options {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		background-color: colors.$ecru;
		height: 50px;
		width: 90vw;
		border-radius: 9px;
		padding: 1rem;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
		margin: 2rem 0 1rem 0;

		&--name,
		&--date {
			font-size: 1.3rem;
			height: 2.5rem;
			width: 8rem;
			padding: 1rem;
			text-align: center;
			border: 1px solid colors.$green;
			border-radius: 9px;
			background-color: colors.$light-green;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
		}

		&--name:hover,
		&--date:hover {
			box-shadow: 0rem 0rem 1.5rem colors.$green;
			cursor: pointer;
			transition: text-shadow 0.5s;
		}

		&--sort {
			padding: 0.2rem;
			font-size: 1.4rem;
		}

		&--search:hover {
			text-shadow: 0rem 0rem 1.5rem colors.$green;
			cursor: pointer;
			transition: text-shadow 0.5s;
		}
	}

	&__result {
		background-color: colors.$ecru;
		height: 120px;
		width: 200px;
		border-radius: 9px;
		padding: 1rem;
		box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
		margin: 1rem 0 1rem 0;

		&--icon {
			margin-top: 0px;
			right: 10px;
			padding: 0.5rem;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		// &--icon:hover {
		// 	text-shadow: 0rem 0rem 1.5rem colors.$green;
		// 	cursor: pointer;
		// 	transition: text-shadow 0.5s;
		// }

		&--date {
			padding: 5px;
			margin-right: 30px;
			font-size: 1rem;
		}
	}

	&__close {
		align-self: flex-end;
		padding: 0.5rem;
	}

	&__close:hover {
		text-shadow: 0rem 0rem 1.5rem colors.$green;
		cursor: pointer;
		transition: text-shadow 0.5s;
	}

	&__container {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		width: 80vw;
		justify-content: center;
		overflow: hidden;
		overflow-y: scroll;
	}

	&__heading {
		display: flex;
		align-items: center;
	}

	&__name {
		font-size: 1.5rem;
		display: inline;
		margin-left: 7px;
		padding: 0.5rem;
	}

	&__more {
		display: flex;
		justify-content: flex-end;

		&--text {
			width: 50%;
			text-align: end;
			font-size: 1rem;
		}

		&--text:hover {
			color: #418900;
			text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
			cursor: pointer;
			font-size: 1.1rem;
			transition: all 0.5s;
		}
	}

	&__map {
		display: flex;
		justify-content: flex-end;

		&--text {
			width: 50%;
			text-align: end;
			font-size: 1rem;
		}

		&--text:hover {
			color: #418900;
			text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
			cursor: pointer;
			font-size: 1.1rem;
			transition: all 0.5s;
		}
	}

	&__bottomoptions {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		background-color: colors.$ecru;
		height: 50px;
		width: 90vw;
		border-radius: 9px;
		padding: 1rem;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
		margin: 2rem 0 1rem 0;

		&--overview,
		&--remove {
			font-size: 1.3rem;
			height: 3rem;
			width: 10rem;
			padding: 1rem;
			text-align: center;
			border: 1px solid colors.$green;
			border-radius: 9px;
			background-color: colors.$light-green;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
		}


		&--overview:hover,
		&--remove:hover {
			box-shadow: 0rem 0rem 1.5rem colors.$green;
			cursor: pointer;
			transition: text-shadow 0.5s;
		}
	}
}

.birds-list img {
	width: 80px;
	box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
	border-radius: 9px;
}

.birds-icon:hover,
.icon-search:hover {
	text-shadow: 0rem 0rem 1.5rem colors.$red;
	cursor: pointer;
	transition: text-shadow 0.5s;
}

//more information container

.more-information {
	position: fixed;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80vh;
	width: 30rem;
	background-color: colors.$creame;
	border-radius: 9px;
	padding: 2rem;
	transition: all 0.5s;
	z-index: 2001;

	&__results {
		background-color: colors.$ecru;
		height: 100%;
		width: 100%;
		border-radius: 9px;
		padding: 1rem;
		box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
	}

	&__divicon {
		width: 100%;
		margin-bottom: 10px;
		padding: 0.5rem 0 0.5rem 0.5rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__result {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		justify-content: space-around;
		padding: 0.5rem 1rem 0.5rem 1rem;
	}

	&__heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		justify-content: space-around;
		padding: 0.5rem 1rem 0.5rem 1rem;
		margin-bottom: 5px;
	}

	&__name {
		font-size: 2rem;
		display: inline;
		margin-left: 7px;
		padding: 0.5rem;
		font-weight: bold;
	}

	&__description {
		font-size: 1.2rem;
		height: 250px;
		text-align: justify;
		line-height: 20px;
		overflow: hidden;
		overflow-y: scroll;
		padding: 1rem;
	}
}

.more-information img {
	width: 85%;
	height: 110px;
	box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
	border-radius: 9px;
	margin: 0.5rem;
}

.icon-info:hover {
	text-shadow: 0rem 0rem 1.5rem colors.$green;
	cursor: pointer;
	transition: text-shadow 0.5s;
}
//footer

.footer {
	width: 100%;
	height: 10vh;
	background-color: colors.$light-green;
	position: fixed;
	bottom: 0;
}

//animations

@keyframes updown {
	0% {
		transform: translateY(-100%);
	}

	50% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(-100%);
	}
}
